.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2em;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  input[type="text"] {
    margin: 0.5em;
  }
}